body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  margin-right: 4px;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

p {
  margin-right: 10px;
}

.input-area {
  background-color: #00fa9a;
  width: 400px;
  height: 30px;
  padding: 8px;
  border-radius: 8px;
  margin: 8px;
}

.incomplete-area {
  background-color: #c6ffe2;
  width: 400px;
  border-radius: 8px;

  min-height: 200px;
  padding: 8px;
  margin: 8px;
}

.complete-area {
  background-color: #adff2f;
  width: 400px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;

  min-height: 200px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.list-row {
  display: flex;
  align-items: center;
}
